<Navbar>
    <style>
        Navbar {
            position: fixed;
            top: 5px;
            left: -5px;
            width: 100%;
            z-index: 1000;

            nav {
                width: 100%;
                -webkit-app-region: drag;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;



                button {
                    -webkit-app-region: no-drag;
                    background: var(--color);
                    border: none;
                    cursor: pointer;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    transition: 0.2s all ease;
                }

                button:hover {
                    scale: 1.1;
                    filter: brightness(0.8);
                    box-shadow: 0 0 200px 50px var(--color);
                }

                h1 {
                    padding: 5px;
                    color: white;
                    font-family: Versel;
                    font-weight: 500;
                    font-size: 14px;
                }

                #closeBtn:hover {
                    background: red;
                }
            }
        }
    </style>
    <nav>
        <div style="display: flex;align-items: flex-start;gap:10px;padding-top: 7px;padding-right: 7px;">
            <button id="minBtn" style="--color:#febb40"></button>
            <!-- <button id="resizeBtn" style="--color:#febb40"></button> -->
            <button id="closeBtn" style="--color:#fd5754">
                <c></c>
            </button>
        </div>
    </nav>
    <script>
        const { ipcRenderer } = require('electron');
        document.getElementById('closeBtn').addEventListener('click', () => {
            ipcRenderer.send('AppClose', true);
        });
        // document.getElementById('resizeBtn').addEventListener('click', () => {
            // ipcRenderer.send('AppMax', true);
        // });
        document.getElementById('minBtn').addEventListener('click', () => {
            ipcRenderer.send('AppMin', true);
        });
    </script>
</Navbar>